<div id="new_form">
  <%= form_with model: @task do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :details %>
    <%= f.text_field :details %>
    <%= f.submit "Add a task" %>
  <% end %>
</div>

<div>
  <%= link_to "Back to list", tasks_path(@tasks_path) %>
</div>
